################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_/.vs
/_/bin
/_/obj
/_/packages
